body {
    background-color: #060608;
}

* {
    color: #f0f0ff;
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    border: none;
    border-radius: 20px;
}

canvas {
    border: none;
    border-radius: 10px;
}

input {
    border: 2px solid #565658;
    border-radius: 5px;
    background-color: #161618;
}

h1 {
    font-size: 72px;
}

bgfoot {
    color: #161618;
}

canvas {
    width : 20%;
    height: 20%;
    border-radius: 10px;
        border: 5px solid #f0f0ff;
}