body {
    background-color: #dfe6e9;
}

* {
    color: #2d3436;
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

canvas, img {
    -webkit-box-shadow: 20px 20px 0px 8px rgba(123, 134, 158, 1);
    -moz-box-shadow: 20px 20px 0px 8px rgba(123, 134, 158, 1);
    box-shadow: 20px 20px 0px 8px rgba(123, 134, 158, 1);
}

.genma {
    --knopf-hue: 356;
    display: none;
}

img {
    border: none;
    border-radius: 20px;
}

canvas {
    border: none;
    border-radius: 10px;
}

input {
        border: none;
    border-radius: 5px;
    background-color: #161618;
}

h1 {
    font-size: 72px;
}

bgfoot {
    color: #161618;
}

canvas {
    width : 20%;
    height: 20%;
    border-radius: 10px;
        border: 5px solid #f0f0ff;
}